.homeContainer {
    padding-top: 70px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 3rem;
    /* Espaço no final da tela */
}

.content h1 {
    margin-bottom: 0.5rem;
}

.content p {
    max-width: 600px;
    margin: 0 auto 2rem;
    line-height: 1.5;
    color: inherit;
}

/* Grid responsivo */
.productsGrid {
    display: grid;
    gap: 1.5rem;
    margin-top: 2rem;
    grid-template-columns: repeat(4, 1fr);
}

.buttonHome {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #3b82f6;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

@media (max-width: 1024px) {
    .productsGrid {
        grid-template-columns: repeat(3, 1fr);
        padding: 1rem;
    }
}

@media (max-width: 768px) {
    .productsGrid {
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem;
    }
}

@media (max-width: 480px) {
    .productsGrid {
        grid-template-columns: 1fr;
        padding: 1rem;
    }
}